<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My angular demo</title>
  <!-- bower:css -->
  <!-- endbower -->
  <!-- injector:scss -->
  <!-- endinjector -->
  <!-- injector:less -->
  <link rel="stylesheet" href="/src/less/animate-basic.css">
  <link rel="stylesheet" href="/src/less/animate-horizontal.css">
  <link rel="stylesheet" href="/src/less/animate-scale.css">
  <link rel="stylesheet" href="/src/less/animate-vertical.css">
  <!-- endinjector -->
  <link rel="stylesheet" type="text/css" href="demo/style.css">
</head>
<body ng-cloak ng-app="demoApp">
  <input ng-model="thingsString" />
  <div kachelei class="k-animate-out-top k-animate-in-bottom k-animate-stagger">
    <div kachel ng-repeat="thing in things" kx="thing.x" ky="thing.y">
      <h3>{{thing.headline}}</h3>
    </div>
  </div>
  <!-- bower:js -->
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-animate/angular-animate.js"></script>
  <!-- endbower -->
  <!-- injector:js -->
  <script src="/src/js/helper.module.js"></script>
  <script src="/src/js/constant.config.js"></script>
  <script src="/src/js/directive.kachel.js"></script>
  <script src="/src/js/directive.kachelei.js"></script>
  <script src="/src/js/factory.debounce.js"></script>
  <script src="/src/js/factory.placer.js"></script>
  <script src="/src/js/factory.rect.js"></script>
  <script src="/ng_templates.js"></script>
  <!-- endinjector -->
  <script type="text/javascript" src="demo/demoApp.js"></script>
</body>
</html>
